@{
    ViewBag.Title = "Home Page";
}

<main>
    <div>
        <div>
            <a href="#">Logo</a>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Empresa</a></li>
            <li><a href="#">Produtos</a></li>
            <li><a href="#">Serviços</a></li>
        </ul>
        <div>
            <button><a href="#">Logo</a></button>
        </div>
    </div>
</main>